@media (max-width: 768px) {
  p.review-with-text {
    font-size: 0.7rem !important;
    gap: 0.2rem;
  }
  .satisfaction-block .avatar {
    width: 38px;
    height: 38px;
    margin-left: -15px;
  }
  span.review-star-icon {
    display: flex;
    align-items: center;
  }
  .satisfaction-block {
    flex-direction: column;
    padding: 0;
    background: inherit;
    border: none !important;
    gap: 3px;
    margin-bottom: 18px;
  }
  .cta-btn-wrapper {
    flex-direction: column;
  }
  .testimonial-section {
    margin-top: 0px !important;
    padding-top: 30px !important;
  }
  .col-lg-8.aos-init.aos-animate {
    margin-top: 20px;
  }
  .services .service-header {
    margin-bottom: 20px;
  }
  .sls-unique-workflow-section {
    padding: 0px 20px;
  }
  section#services {
    padding: 0px 0 2px 0 !important;
  }
  .section-title {
    padding-bottom: 0px !important;
  }
  .services .service-header {
    margin-bottom: 20px !important;
  }
  .call-to-action {
    padding: 15px 0px !important;
  }
  section#call-to-action {
    margin-top: 30px;
    border-radius: 0;
    padding-top: 0 !important;
    padding-bottom: 70px !important;
  }
  section#call-to-action .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  /* #call-to-action .content-left.flex-grow-1 {
    padding-top: 50px;
  } */
  .body-cta-wrapper.cta-btn-wrapper {
    margin: auto !important;
  }

  .testimonial-section {
    padding-top: 50px !important;
  }

  section#services {
    padding-top: 20px !important;
  }

  section.sls-unique-workflow-section {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  section.sls-unique-workflow-section .section-title div {
    font-size: 27px;
  }

  .call-to-action p {
    font-size: 1rem !important;
  }

  .advertise-1 {
    flex-direction: column-reverse !important;
  }

  section#testimonials .container {
    padding-bottom: 30px;
  }

  section#testimonials,
  .testimonial-heading,
  .portfolio-title,
  .team-member-title {
    padding-bottom: 30px;
  }

  section#portfolio {
    padding-bottom: 10px;
  }

  section.team-member-section,
  section#team {
    padding-bottom: 0;
  }

  h2.faq-title {
    font-size: 28px !important;
  }
}
